.banner{
  position:relative; 
  padding: 150px 250px;
  border-radius: 16px;
  margin: 50px 100px; 
  background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  background-image: url(./Image/Banner\ Image.png);
     
}
.banner p{
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner h2{
  color:#fff;
  text-align: center;
  font-size:72px;
  font-weight: 900;
  line-height:95px;
}
.offer{
  position:relative;
  color:#F00;
}
.offer h2{
  text-align: center;
  font-size: 88px;
  font-weight: 700;
}
.offer p{
  text-align: center;
  font-size: 24px;
  font-weight:500;
}
.all{
  color:#070211;
  text-align: center;
  font-size:48px;
  font-weight:700;
}
 .photo{
  
  position:relative;
  margin: 360px;
 }


 